// COLORS
$color-primary: #5560c5;
$color-primary-light: #6f76d5;
$color-primary-dark: #282ab4;

$color-secondary-light: #ffb908;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-bookcraze: #635752;
$color-bookcraze-light: #a8968d;
$color-bookcraze-dark: #4E443F;

$color-white: #fff;
$color-black: #000;

$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-footer: #EAEAEA;
$color-footer-link: rgb(100, 100, 100);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;
